<?xml version="1.0" encoding="UTF-8"?>
<web-app
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0"
>
	<display-name>The Definitive Guide to JSF in Java EE 8</display-name>


	<!-- Standard JSF settings. -->

	<context-param>
		<param-name>javax.faces.ENABLE_WEBSOCKET_ENDPOINT</param-name>
		<param-value>true</param-value> <!-- Explicitly required to activate f:websocket. -->
	</context-param>
  	<context-param>
		<param-name>javax.faces.FACELETS_BUFFER_SIZE</param-name>
		<param-value>102400</param-value> <!-- 100 kB, so that the AjaxExceptionHandler has chance to reset the response when an exception occurs during render response phase. -->
	</context-param>
	<context-param>
		<param-name>javax.faces.FACELETS_LIBRARIES</param-name>
		<param-value>/WEB-INF/example.taglib.xml</param-value> <!-- Required in Payara as it cannot automatically find it in WAR but only in JAR. Can be removed when using WildFly. -->
	</context-param>
	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value> <!-- Prevent comments from evaluating any EL expressions and ending up in generated HTML output. -->
	</context-param>
	<context-param>
		<param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
		<param-value>true</param-value> <!-- Prevent empty string submitted values from polluting the model with empty strings instead of nulls. -->
	</context-param>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value> <!-- Switchable between Development, UnitTest, SystemTest and Production. -->
	</context-param>
	<context-param>
		<param-name>javax.faces.validator.ENABLE_VALIDATE_WHOLE_BEAN</param-name>
		<param-value>true</param-value> <!-- Explicitly required to activate f:validateWholeBean. -->
	</context-param>


	<!-- Servlets. -->

	<servlet>
		<servlet-name>facesServlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>facesServlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern> <!-- Explicit registration on *.xhtml disables implicit registration of *.jsf, *.faces and /faces/*. -->
	</servlet-mapping>


	<!-- Session configuration. -->

	<session-config>
		<cookie-config>
			<http-only>true</http-only> <!-- Prevent client side scripting from accessing/manipulating session cookie. -->
		</cookie-config>
		<tracking-mode>COOKIE</tracking-mode> <!-- This disables URL rewriting. -->
	</session-config>


	<!-- Welcome files. -->

	<welcome-file-list>
		<welcome-file>index</welcome-file> <!-- This is "index" instead of "index.xhtml", because we have activated extensionless URLs via ApplicationConfig. -->
	</welcome-file-list>


	<!-- Error pages -->

	<error-page>	
		<error-code>500</error-code>
		<location>/WEB-INF/errorpages/500.xhtml</location>
	</error-page>
	<error-page>	
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/WEB-INF/errorpages/expired.xhtml</location>
	</error-page>


	<!-- Data sources -->
	
	<data-source>
		<name>java:global/DataSourceName</name>
		<class-name>org.h2.jdbcx.JdbcDataSource</class-name>
		<url>jdbc:h2:mem:test;DB_CLOSE_DELAY=-1</url>
	</data-source>

</web-app>